*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    background-image: url(../Images/images-3.jpg);
    background-repeat: no-repeat;
    backdrop-filter: inherit;
    background-size: 100%;
}
.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.link ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    gap: 20px; 
    margin: 0 40px;
    padding: 0 40px 0 0; 
}

.link ul a {
    text-decoration: none;
    color: #de2020;
    font-weight: 500;
    padding: 10px 0;
    display: block;
}
.link ul a:hover{
    color: rgb(19, 1, 185);
    transition: 0.5s ease-in-out;
}
.btn{
    border: 1px solid yellow;
    border-radius: 8px;
    padding: 20px 25px;
    margin-right: 8px;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}
.btn:hover{
    color: aqua;
    transition: 0.9s ease;
    margin-bottom: 5px;
    padding-bottom: 20px;
}
.flwbtn{
    border: 1px solid yellow;
    border-radius: 8px;
    padding: 20px 25px;
    margin-right: 10px;
    background-color: rgb(162, 31, 227);
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}
.flwbtn:hover{
    color: rgb(255, 174, 0);
    transition: 0.9s ease;
    margin-bottom: 5px;
    padding-bottom: 20px;
}
/* Header Ends */

/* About us Starts */
.about
{
    width: 90%;
    height: 320px;
    margin: 150px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.content h2{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 80px;
    font-size: 35px;
}
.content .para{
    margin: 0px 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
}
.content .para1{
    margin: 0px 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
}
.content .para2{
    margin: 10px 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
}
.content button {
    margin: 20px 80px;
    padding: 10px 50px;
    background-color: lightcoral;
    color: black;
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
}
/* About us Ends */
