*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.navbar{
    width: 82%;
    height: 100px;
    margin: 0 auto;
    background-color: #065e2e;
    border-radius: 50px;
    margin-top: 28px;
    position: relative;
    z-index: 4;
    padding-left: 10px;
    
}
.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}