* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* header CSS Starts  */
.container-fluid
{
  height: 700px;
  width: 100%;
  padding: 0 20px;
  background-color: #062C4F;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: #062C4F;
}

.navbar .link {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-top: 40px;

}

.navbar .link li a {
  color: #ffffff;
  font-weight: 500;
  padding: 8px 12px;
  transition: color 0.3s;
  text-decoration: none;
}

.navbar .link li a:hover {
  color: #fc8405;
}

.logo img {
  height: 50px;
  width: auto;
  margin-right: 150px;
  margin-top: 40px;

}

.button-group button {
  background-color: #E95713;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 50px;
  margin-top: 40px;
}

.button-group button:hover {
  background-color: #0056b3;
}

#text-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40;
  gap: 20px;
}

#text-block .content {
  flex: 4;
  max-width: 900px;
}

#text-block .content h2 {
  font-size: 45px;
  line-height: 57px;
  color: #ffffff;
}

#text-block .content p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 30px;
}

.investbutton button {
  background-color: #E95713;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.investbutton button:hover {
  background-color: #0056b3;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 1300px;
  padding-left: 850px;
  padding-right: 10px;
  border-radius: 10px;
}
/* header CSS Ends  */

#section1 {
  width: 1000px;
  height: 470px;
  margin-top: 80px;
  margin-left: 80px;
}

#section2 {
  width: 1000px;
  height: 470px;
  margin-top: 130px;
  margin-left: 75px;
}
#section3 {
  width: 1350px;
  height: 450px;
  background-color: #062c4f;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 90px;
}

/* Section-4 Starts CSS */
#section4 {
  width: 1000px;
  height: 350px;
  margin-top: 40px;
  text-align: center;
  margin-left: 200px;
}
#section4 h3 {
  color: #062c4f;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#section4 p {
  font-size: 13px;
  margin-top: 40px;
  color: #252628;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  margin-bottom: 30px;
}
/* Section-4 Starts Ends */

/* Section-5 CSS Starts */
#section5 {
  width: 1000px;
  height: 300px;
  margin-left: 100px;
}
/* Section-5 CSS Ends */

/* Section-6 CSS Starts */
#section6 {
  width: 1000px;
  height: 600px;
  margin-top: 220px;
  margin-left: 150px;
  padding: 60px 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#section6 .content h3 {
  color: #e95713;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}
#section6 .content h2 {
  color: #000000;
  font-size: 29px;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#section6 .image-section {
  display: flex;
  justify-content: center;
  gap: 30px;
}

#section6 .image-section img {
  width: 400px;
  max-width: 900px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 50px;
}

#section6 .image-section img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
/* Section-6 CSS Ends */

/* Section-7 CSS Starts */
#section7 {
  width: 1350px;
  height: 550px;
  background-color: #062c4f;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#section7 img {
  width: 600px;
  height: 400px;
  margin-left: 30px;
}
#section7 .content7 {
  width: 790px;
  height: 222px;
  margin-bottom: 20px;
}
#section7 h4 {
  font-size: 16px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e95713;
  margin-bottom: 20px;
}
#section7 h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}
#section7 p {
  font-size: 13px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}
#section7 .investnowbtn {
  padding: 10px 50px;
  font-size: 14px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e95713;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}
#section7 .investnowbtn:hover {
  background-color: lightcoral;
  color: red;
  transition: 0.5 ease-in-out;
}
/* Section-7 CSS Ends */
