*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;   
}
#header
{
    background-color: #062C4F;
    width: 100%;
    height: 75vh;
    padding: 40px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.logo img  {
    width: 90px;
    margin-bottom: 370px;
    margin-left: 500px;
}
.navbar{
    position: absolute;
    top: 30px;
    right: 68%;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    transition: 0.3s;
    font-weight: 400;
}

.navbar ul li a:hover{
    color: #E95713;
}

#header > button{
    position: absolute;
    top: 0;
    right: 10%;
    margin-top: 46px;
    padding: 10px 20px;
    border: none;
    background: #E95713;
    color: #ffffff;
    border-radius: 6px;
    font-size: 9px;
    cursor: pointer;
    font-weight: 400;
    transition: 0.3s;
}

#header > button:hover{
    color: #000000;
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.content h2 {
    font-size: 20px;
    font-weight: 500;
    color: wheat;
}

button {
    padding: 2px 15px;
    background: #E95713;
    color: #0a0a0a;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.image img {
    width: 150%;
    max-width: 1200px;
    border-radius: 12px;
}

@media (max-width: 768px){
    #header{
        flex-direction: column;
        text-align: center;
        padding-top: 120px;
        height: auto;
        gap: 40px;
    }

    .image img{
        width: 90%;
    }

    .navbar{
        position: static;
        margin-bottom: 20px;
    }

    #header > button{
        position: static;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
/* Header CSS Ends */

/* About CSS Starts */
#about
{
    width: 70%;
    height: 360px;
    margin-top: 42px;
    margin-left: 79px;
}
#about .para2{
    text-align: center;
    margin-left: 200px;
    color: #E95713;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    top: 0;
    left: 0;
}
#about h3{
    text-align: center;
    margin-left: 200px;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}
/* About CSS Ends */

/* Section3 CSS Starts */
#section3
{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
}
#section3 .image
{
    width: 1250px;
    margin-left: 75px;
    top: 0;
    left: 0;
}
#section3 .para3{
    color: #E95713;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-left: 210px;
}
#section3 .h3
{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #062C4F;
    line-height: auto;
    margin-left: 210px;
}
#section3 .para4
{
    line-height: 1.2rem;
    color: #252628;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 210px;
    margin-bottom: 40px;
    margin-top: 20px;
}
#section3 button
{
    margin-left: 210px;
    padding: 5px 17px;
    border-radius: 7px;
    top: 0;
    left: 0;
    z-index: 100;
    color: white;
    margin-bottom: 20px;
    transition: 0.4s ease;
}
#section3 button:hover
{
    background-color: lightcoral;
    color: #000000;
}
/* Section3 CSS Ends */